### Importing packages

In [2]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import matplotlib.mlab as mlab
import matplotlib
plt.style.use('ggplot')
from matplotlib.pyplot import figure

## Set options

In [3]:
%matplotlib inline
matplotlib.rcParams['figure.figsize'] = (12,8)
pd.options.mode.chained_assignment = None

## Get our data

In [4]:
dataset1 = pd.read_csv('D:\\Frequent Downloads\\Datasets For Analysis\\PFE_US_Equity.csv')

In [5]:
dataset1.shape[0]

1521

In [6]:
dataset1.columns

Index(['Date', 'PX_LAST', 'PX_VOLUME'], dtype='object')

In [7]:
dataset1.dtypes

Date          object
PX_LAST      float64
PX_VOLUME      int64
dtype: object

In [9]:
dataset1.isnull().sum()

Date         0
PX_LAST      0
PX_VOLUME    0
dtype: int64

In [10]:
dataset1.head(10)

        Date  PX_LAST  PX_VOLUME
0   5/1/2015  32.3061   21543362
1   5/4/2015  32.5336   23590434
2   5/5/2015  32.3440   22382158
3   5/6/2015  31.7184   26859481
4   5/7/2015  31.8321   21508469
5   5/8/2015  32.2492   20411756
6  5/11/2015  32.1923   26469509
7  5/12/2015  32.0217   17889918
8  5/13/2015  31.7847   23762495
9  5/14/2015  32.1734   17894537

In [11]:
dataset1.tail(10)

           Date  PX_LAST  PX_VOLUME
1511   5/3/2021    39.83   46638581
1512   5/4/2021    39.95   52802169
1513   5/5/2021    39.97   76626289
1514   5/6/2021    39.19   54944943
1515   5/7/2021    39.58   33807757
1516  5/10/2021    39.86   30831871
1517  5/11/2021    39.35   30568572
1518  5/12/2021    39.69   26208608
1519  5/13/2021    40.10   25423778
1520  5/14/2021    40.02   18041053

In [14]:
dataset1['Transformed Date'] =  pd.to_datetime(dataset1['Date'], format='%m/%d/%Y')

In [15]:
dataset1.dtypes

Date                        object
PX_LAST                    float64
PX_VOLUME                    int64
Transformed Date    datetime64[ns]
dtype: object

In [16]:
dataset1.tail(3)

           Date  PX_LAST  PX_VOLUME Transformed Date
1518  5/12/2021    39.69   26208608       2021-05-12
1519  5/13/2021    40.10   25423778       2021-05-13
1520  5/14/2021    40.02   18041053       2021-05-14

In [17]:
dataset1.to_csv('D:\\Frequent Downloads\\Datasets For Analysis\\Transformed_PFE_US_Equity.csv')